[Unit]
Description=Handles running Harness depending on environment
After=network.target

[Service]
EnvironmentFile=/usr/local/bin/harness_env_vars
ExecStart=/usr/local/bin/harness-boot.sh

[Install]
WantedBy=default.target